* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.input-section {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 100%; 
    background-color: #f4f4f4;
    gap: 20px; 
    padding: 20px;
}
  
.input-field {
    width: 300px; 
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease-in-out;
}
  
.input-field:focus {
    border-color: #007bff;
    outline: none;
}
  
.add-btn {
    width: 150px;
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: #4caf50 !important;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
  
  .add-btn:hover {
    background-color: #45a049;
}

section {
    width: 80%; 
    margin: 0 auto;
}

ul {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 20px; 
    list-style: none; 
    padding: 0;
}

li {
    flex: 1 1 calc(33.33% - 20px); 
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 100%; 
    text-align: left;
    transition: transform 0.2s ease-in-out;
    display: flex;
    flex-direction: column; 
    gap: 8px; 
}

.card-id {
    font-size: 12px;
    background-color: rgb(213, 213, 213);
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-buttons {
    display: flex;
    justify-content: flex-start; 
    gap: 10px; 
}

.card:hover {
    transform: translateY(-5px); 
}
  
.card-title {
    font-weight: bold;
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}
  
.card-body {
    font-size: 16px;
    color: #555;
}

button {
    padding: 6px 14px;
    margin: 5px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
  
button:first-of-type {
    background-color: #4caf50;
    color: white;
}
  
button:first-of-type:hover {
    background-color: #45a049;
}
  
button:last-of-type {
    background-color: #f44336;
    color: white;
}
  
button:last-of-type:hover {
    background-color: #e53935;
}
  
  /* Responsive Styling for Tablets */
  @media (max-width: 1024px) {
    li {
      flex: 1 1 calc(50% - 20px); /* Two cards per row on medium screens */
    }
  }
  
  /* Responsive Styling for Mobile */
  @media (max-width: 768px) {
    li {
      flex: 1 1 100%; /* One card per row on smaller screens */
    }
  }